$micro-width: 450px;
$mobile-width: 570px;
$fablet-width: 650px;
$tablet-width: 768px;
$desktop-width: 1024px;
$widescreen-width: 1280px;

// fluid font variables
$min_width: 320px;
$max_width: 1920px;
$min_font: 12px;
$max_font: 16px;

// font family variables
$font-family--Proxima-nova: "Proxima Nova", Helvetica, Arial, sans-serif;
$font-family--Open-sans: "Open Sans", Helvetica, Arial, sans-serif;

$font-weight--light: 300;
$font-weight--regular: 500;
$font-weight--bold: 700;

$base-green: #3dbf8c;

$theme-background-color: #edf1fa;
$theme-primary-color: #6352cd;
$theme-secondary-color: #2a2259;